In [ ]:
import pandas as pd

In [ ]:
import io

In [ ]:
df=pd.read_csv('FoodBalanceSheets.csv',encoding='latin-1')

In [ ]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [ ]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
df.groupby(['Y2017']).mean()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2018
Y2017,,,,,,,
-1582.0,59.0,2722.5,5072.0,2731.0,47.0,-985.0,-2156.0
-1200.0,144.0,2532.0,5072.0,0.0,0.0,915.0,-1445.0
-1159.0,144.0,2907.0,5072.0,-219.0,-3.0,915.0,-1442.0
-865.0,215.0,2913.0,5072.0,2308.0,2505.0,-195.0,-14.0
-860.0,215.0,2556.0,5072.0,480.0,572.0,-212.0,-61.0
...,...,...,...,...,...,...,...
96443.0,59.0,2501.0,511.0,90425.0,92443.0,94447.0,98424.0
106400.0,238.0,2501.0,511.0,98094.0,100835.0,103603.0,109224.0
112625.0,159.0,2907.0,5301.0,108756.0,110798.0,116483.0,117038.0
117702.0,159.0,2907.0,5511.0,109593.0,111663.0,119330.0,118172.0
190873.0,159.0,2501.0,511.0,176405.0,181137.0,185960.0,195875.0

In [ ]:
df.groupby(['Y2017']).std()

           Area Code   Item Code  Element Code  Y2014  Y2015  Y2016  Y2018
Y2017
-1582.0          0.0  262.336616           0.0    0.0    0.0    0.0    0.0
-1200.0          NaN         NaN           NaN    NaN    NaN    NaN    NaN
-1159.0          NaN         NaN           NaN    NaN    NaN    NaN    NaN
-865.0           NaN         NaN           NaN    NaN    NaN    NaN    NaN
-860.0           NaN         NaN           NaN    NaN    NaN    NaN    NaN
...              ...         ...           ...    ...    ...    ...    ...
 96443.0         NaN         NaN           NaN    NaN    NaN    NaN    NaN
 106400.0        NaN         NaN           NaN    NaN    NaN    NaN    NaN
 112625.0        NaN         NaN           NaN    NaN    NaN    NaN    NaN
 117702.0        NaN         NaN           NaN    NaN    NaN    NaN    NaN
 190873.0        NaN         NaN           NaN    NaN    NaN    NaN    NaN

[4537 rows x 7 columns]

In [ ]:
df[['Y2017']].groupby(df['Area']).sum()

                                  Y2017
Area
Algeria                       325644.27
Angola                        229159.57
Benin                         124771.22
Botswana                       22101.30
Burkina Faso                  101855.07
Cabo Verde                     14650.74
Cameroon                      232030.43
Central African Republic       29937.00
Chad                           71594.68
Comoros                           59.84
Congo                          41181.68
Côte d'Ivoire                 224599.01
Djibouti                       22729.91
Egypt                         866379.92
Eswatini                       54343.33
Ethiopia                      448683.76
Ethiopia PDR                       0.00
Gabon                          27979.64
Gambia                         23154.18
Ghana                         337599.06
Guinea                         98138.87
Guinea-Bissau                  19102.77
Kenya                         264660.66
Lesotho                        21267.96
Liberia                        29342.20
Madagascar                    131197.73
Malawi                        181098.71
Mali                          149928.33
Mauritania                    156665.46
Mauritius                      51114.83
Morocco                       388495.36
Mozambique                    161407.98
Namibia                        29874.89
Niger                         126707.58
Nigeria                      1483268.23
Rwanda                         73663.69
Sao Tome and Principe          12662.63
Senegal                        95681.15
Seychelles                       442.34
Sierra Leone                   55311.33
South Africa                  517590.54
Sudan                         239931.92
Sudan (former)                     0.00
Togo                           49841.88
Tunisia                       124167.20
Uganda                        213950.38
United Republic of Tanzania   322616.85
Zambia                        103223.77
Zimbabwe                       75919.34

In [ ]:
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [ ]:
print(df['Area'].unique())

['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "Côte d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']

In [ ]:
df[['Y2014','Y2015','Y2016','Y2017']].groupby(df['Element']).sum()

,Y2014,Y2015,Y2016,Y2017
Element,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
Export Quantity,150020.64,157614.47,151920.46,182338.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
Feed,216927.89,225050.22,228958.65,223705.68
Food,1212332.49,1232361.10,1247022.17,1258888.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
Import Quantity,274144.48,267018.46,286582.78,294559.09
Losses,153223.00,155439.00,157787.00,160614.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97
Processing,282923.00,287929.00,280631.00,292836.00
Production,1931287.75,1947019.39,1943537.15,2030056.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
Residuals,30149.00,30045.00,37224.00,35500.00
Seed,21922.92,23976.82,23389.20,24870.14
Stock Variation,58749.83,34910.99,33140.12,54316.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
Tourist consumption,416.00,349.00,89.00,91.00